**Bora praticar!**
  
1) Utilizando o DataFrame importado (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [2]:
import pandas as pd
df_alunos = pd.read_csv(R'C:\Users\Maisa\Documents\ADA\tec_prog_1\dados\alunos3.csv ', sep=';', decimal=',')
df_alunos.head(10)

def get_medias(n1,n2,n3,n4):
    m=((n1+n2+n3+n4)/4)
    return m
df_alunos['Media_provas'] = df_alunos.apply(lambda x: get_medias(x.Prova_1, x.Prova_2,	x.Prova_3,	x.Prova_4), axis=1)
df_alunos.head(10)

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.000
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.250
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.000
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.000
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.000
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8,7.500
6,110301,Joao Galo,20,5.0,6.5,7.0,5,5.875
7,110263,José Valente,20,10.0,10.0,10.0,10,10.000
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10,8.625
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8,8.000

2) Quem foram os alunos que obtiveram a maior e a menor média

In [34]:
max= df_alunos['Media_provas'].max()
min= df_alunos['Media_provas'].min()

print('Maior média: ',max , 'Aluno: ',df_alunos[df_alunos['Media_provas'] == max ]['Nome'].values[0])
print('Menor média: ',min , 'Aluno: ',df_alunos[df_alunos['Media_provas'] == min ]['Nome'].values[0])

Maior média:  10.0 Aluno:  José Valente
Menor média:  5.875 Aluno:  Joao Galo

3) Agora una este dataframe com o `cadastro_alunos.xlsx`

In [31]:
import pandas as pd
df_cadastro = pd.read_excel(R'C:\Users\Maisa\Documents\ADA\tec_prog_1\dados\cadastro_alunos.xlsx')
df_cadastro.head(10)

df_novo=df_cadastro.merge(df_alunos)
df_novo.head()

,RA,Cidade,Sexo,Idade,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas
0,110201,São Paulo,Masculino,15,Antonio Carlos,20,6.5,8.5,7.0,6,7.00
1,110212,Rio de Janeiro,Feminino,20,Ana Beatriz,20,7.0,7.0,7.0,8,7.25
2,110218,Rio de Janeiro,Masculino,18,Carlos Vernes,17,7.0,7.0,7.0,7,7.00
3,110307,Belo Horizonte,Masculino,39,Francisco Cunha,20,9.0,8.5,8.5,10,9.00
4,110275,Belo Horizonte,Feminino,22,Sandra Rosa,15,6.5,7.5,7.0,7,7.00

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

In [18]:
x=df_novo.groupby('Sexo').mean()
print(x['Media_provas'])

Sexo
Feminino     7.675
Masculino    7.775
Name: Media_provas, dtype: float64

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

In [30]:
df_novo.query(" Media_provas >= 7")[['Idade','Nome','Media_provas']]
#media de idade
df_novo.query(" Media_provas >= 7")['Idade'].mean()

   Idade             Nome  Media_provas
0     15   Antonio Carlos         7.000
1     20      Ana Beatriz         7.250
2     18    Carlos Vernes         7.000
3     39  Francisco Cunha         9.000
4     22      Sandra Rosa         7.000
5     17   Juliana Arruda         7.500
7     31     José Valente        10.000
8     29   Maria Ferreira         8.625
9     16  Adriana Tavares         8.000

6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

In [35]:
max=df_novo['Media_provas'].max()
print('A maior média é: ', max )

print('Na cidade de: ', df_novo[df_novo['Media_provas']==max]['Cidade'].values[0])

A maior média é:  10.0
Na cidade de:  Belo Horizonte

7. Leia o arquivo `aluno3.csv`, apenas as colunas RA, Prova_1, Prova_2, Prova_3, Prova_4 calcule a médias das notas da prova e salve em um arquivo excel (xlsx) as colunas RA e Média.

In [42]:
import pandas as pd

df_alunos = pd.read_csv(
    R'C:\Users\Maisa\Documents\ADA\tec_prog_1\dados\alunos3.csv ',
    usecols=['RA', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'],
    sep=';',
    decimal=','
    )


def get_medias(n1,n2,n3,n4):
    m=((n1+n2+n3+n4)/4)
    return m

df_alunos['Media_provas'] = df_alunos.apply(
    lambda x: get_medias(
        x.Prova_1,
        x.Prova_2,
        x.Prova_3,
        x.Prova_4
        ),
        axis=1
        )
df_alunos.head(10)

df_aux= df_alunos[['RA','Media_provas']]
df_aux.to_excel('Resultado.xlsx',index=False)
verif= pd.read_excel(R'C:\Users\Maisa\Documents\ADA\tecprog1_Maisa_Santos\Lista_Pandas\Resultado.xlsx')
verif.head()

       RA  Media_provas
0  110201          7.00
1  110212          7.25
2  110218          7.00
3  110307          9.00
4  110275          7.00